@charset "UTF-8";

:root {
    --corBotao: #E8FF80;
    --corBG: #703294;
}

*{
    padding: 0;
    margin: 0;
    font-family: arial;
}

body{
    background-color: var(--corBG);
}

main{
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 550px;
    background-color: white;
    border-radius: 20px;
}

div#imagem{
    height: 220px;
    background-image: url('../imagens/imgPC.jpg');
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

div#formulario{
    display: block;
    margin: 10px;
    text-align: center;
}

div#formulario p{
    text-align: left;
}

div#formulario form{
    display: block;
}

div#formulario > form > div.campo{
    display: flex;
    border-radius:5px;
    height: 45px;
    background-color: #AF5AE0;
    width: 290px;
    justify-content: center;
    margin: 10px 0;
    align-items: center;
}

div#formulario > form > div > input{
    border-radius:5px;
    height: 30px;
    width: 240px;
    padding: 5px;
    background-color: var(--corBotao);
    font-size: 1.2em;
}

div#formulario > form > div > label>span{
   font-size: 1.9em;
   color: white;
}

div#formulario > form > button{
    width: 290px;
    height: 45px;
    border-radius:5px;
    margin-bottom: 5px;
    background-color: var(--corBotao);
    font-size: 1.2em;
}

div#formulario > form > button[type=submit]{
    color: white;
}